*.o
zappy_ai
zappy_server

\.idea/

src/Graph/cmake-build-debug/

src/Graph/cmake_install\.cmake

src/Graph/CMakeCache\.txt

src/Graph/Makefile

src/Graph/Graph

src/Graph/Graph\.cbp

src/Graph/CMakeFiles/

*.cbp
