# Created by .ignore support plugin (hsz.mobi)
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/
CMakeLists.txt
*.gcda
*.gcno
cmake-build-debug/
/tests/restest5
/tests/restest6
/tests/restest7
/tests/restest8
/tests/restest9
/tests/restest1
/tests/restest2
/tests/restest3
/tests/restest4
/autoCompletion
/ExampleDict
/ExampleDict2
/ExampleDict3
/tests/.failed
